<div class='splash-page'>
  <h1 class='splash-title'>XpenseTrackr</h1>
  <div class='login-signup'>
    <%= link_to 'LOG IN', new_user_session_path, class: 'splash-login btn btn-primary' %>
    <%= link_to 'SIGN UP', new_user_registration_path, class: 'splash-signup btn btn-secondary' %>
  </div>
</div>