<div class='d-flex flex-column align-items-center'>
  <h1 class='flex-grow-1 p-5 my-5 splash-title'>XpenseTrackr</h1>
  <div class=' d-grid gap-2 login-signup'>
      <%= link_to 'LOG IN', new_user_session_path, class: 'splash-login btn btn-primary' %>
      <%= link_to 'SIGN UP', new_user_registration_path, class: 'splash-signup btn btn-link w-100' %>
  </div>
</div>