@font-face {
  font-family: 'proximanova-bold';
  src: url('proximanova/proximanova-bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'proximanova-light';
  src: url('proximanova/proximanova-light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

$color_primary: #3778c2;
$color_secondary: #434b54;
$color_ascent: #5fb523;
$color_white: #fff;
$color_off-white: #e7ebf1;

$font_regular: 'proximanova-light';
$font_bold: 'proximanova-bold';

body {
  color: $color_secondary;
  background-color: $color_off-white;
  font-family: $font_regular;
}

.app {
  height: 100vh;
  background: center center / contain no-repeat url(phone_frame_cutout.png);
  padding-top: 84px;
}

.app-container {
  width: 302px;
  height: 532px;
  margin: 0 auto;
  border: 1px solid grey;
}

.splash-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;

  .splash-title {
    font-family: $font_bold;
  }

  .login-signup, .page-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
  }
}

.btn {
  display: block;
  background-color: $color_primary;
  color: $color_white;
  text-align: center;
  border-radius: 0;
  padding: 10px;
  text-decoration: none;
  width: 100%;
}

.btn-secondary {
  color: $color_primary;
  background-color: $color_white;
  border: none;
}

.page-container {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.form-element {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 0px;
  box-sizing: border-box;
}

.title {
  color: $color_white;
  background-color: $color_primary;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.sub-title {
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.card-link {
  text-decoration: none;
}

.item-card {
  margin: 5px;
  padding: 8px;
  color: $color_secondary;
  background-color: $color_white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;

}

.card-section-1 { 
  grid-area: 1 / 1 / 3 / 2; 
}

.card-section-2 { 
  grid-area: 2 / 2 / 3 / 4; 
}

.category-icon {
  width: 75px;
}

.transaction-title {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
  gap: 12px;
  padding-left: 8px;
  padding-right: 8px;
}

.text-1 {
  grid-area: 1 / 2 / 2 / 5;
  font-family: $font_bold;
}
