<h1>Categories</h1>

<div id="categories">
  <div>
    <p>Total Budget</p>
    <p>&dollar;&nbsp;<%= calculate_total_budget %></p>
  </div>
  <% @categories.each do |category| %>
    <%= link_to category do %>
      <div>
        <%= render category %>
      </div>
    <% end %>
  <% end %>
</div>

<%= link_to "New category", new_category_path %>
