  <div class='login'>
    <%= link_to root_path do %>
      <i class="fa-solid fa-arrow-left fa-2x white"></i>
    <% end %>
    <p style='margin-top: auto; margin-buttom: auto;'>NEW CATEGORY</P>
    <div></div>
    
  </div>

<%= render "form", category: @category %>

<br>
