<div id="<%= dom_id transaction %>" class='trans-card'>
  <p style='padding: 0; margin: 0;' >
    <strong>Name:</strong>
    <%= transaction.name %>
  </p>

  <p style='padding: 0; margin: 0;'>
    <strong>Amount:</strong>
    <%= transaction.amount %>
  </p>

</div>
